@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Jacques+Francois+Shadow&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

.backdrop {
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
}

.backdrop-container {
  width: 75%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px;
  gap: 2rem;

  /* glass effect */
  background: rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

.backdrop-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}

.backdrop-content > p {
  alignment-baseline: baseline;
}

.backdrop-image {
  max-width: 350px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.backdrop-image > img {
  width: 350px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.backdrop-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.backdrop-overview {
  margin-top: 0.5rem;
}

.backdrop-overview > h2 {
  font-family: "Antonio", sans-serif;
}

.favorite-btn-deets {
  color: white;
  font-size: 2.5rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 0.4rem;
}

.favorite-btn-deets:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.favorite-btn-deets.active {
  color: #ff4757;
}

.homepage-link {
  color: #aadc08 !important;
  text-decoration: none;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
}

.watch-btn {
  color: #aadc08 !important;
  text-decoration: none;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  border: 1px solid #aadc08;
  padding: 0.5rem 1.25rem;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.watch-btn:first-child {
  background-color: #aadc08;
  color: #000 !important;
  text-decoration: none;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  border: 1px solid #aadc08;
  padding: 0.5rem 1.25rem;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.watch-btn:hover {
  background-color: #aadc08;
  color: #000 !important;
}

.watch-btn > span {
  line-height: 0;
}

.backdrop-title {
  color: #ffffff !important;
  font-weight: bold;
  font-size: 4rem !important;
  font-family: "Antonio", sans-serif;
  margin-bottom: 0.45rem;
}

.pointer {
  cursor: pointer;
}

[data-floating-ui-focusable] {
  width: 100% !important;
  margin: 0 auto;
  max-width: 1990px !important;
  height: 100% !important;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #374151;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

[data-floating-ui-focusable] > div {
  width: 100%;
  padding: 0;
}

.trailer-container {
  height: 750px;
  width: 100%;
  position: relative;
  margin-top: 1rem;
  padding: 0 1.5rem;
  padding-bottom: 3.25rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: #374151;
}

.film-container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
[data-i] {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*TODO: Fix Movie Screen Size */
[data-i] > #the_frame {
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jacques Francois Shadow", sans-serif;
}

p,
span,
a,
button,
small,
b,
blockquote {
  font-family: "Montserrat", sans-serif;
}

.mb-1 {
  margin-bottom: 0.75rem;
}
.mb-2 {
  margin-bottom: 1.75rem;
}
.mb-3 {
  margin-bottom: 2.5rem;
}
.mb-4 {
  margin-bottom: 3.5rem;
}
.mb-5 {
  margin-bottom: 4.5rem;
}
.mt-1 {
  margin-top: 0.75rem;
}
.mt-2 {
  margin-top: 1.75rem;
}
.mt-3 {
  margin-top: 2.5rem;
}
.mt-4 {
  margin-top: 3.5rem;
}
.mt-5 {
  margin-top: 4.5rem;
}
.mr-1 {
  margin-right: 0.75rem;
}
.mr-2 {
  margin-right: 1.75rem;
}
.mr-3 {
  margin-right: 2.5rem;
}
.mr-4 {
  margin-right: 3.5rem;
}
.mr-5 {
  margin-right: 4.5rem;
}
.ml-1 {
  margin-left: 0.75rem;
}
.ml-2 {
  margin-left: 1.75rem;
}
.ml-3 {
  margin-left: 2.5rem;
}
.ml-4 {
  margin-left: 3.5rem;
}
.ml-5 {
  margin-left: 4.5rem;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mr-0 {
  margin-right: 0;
}
.ml-0 {
  margin-left: 0;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.75rem;
}
.m-2 {
  margin: 1.75rem;
}
.m-3 {
  margin: 2.5rem;
}
.m-4 {
  margin: 3.5rem;
}
.m-5 {
  margin: 4.5rem;
}
.my-1 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-2 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.my-3 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-4 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.my-5 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}
.mx-1 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.mx-2 {
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}
.mx-3 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
.mx-4 {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}
.mx-5 {
  margin-right: 4.5rem;
  margin-left: 4.5rem;
}

.py-1 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-2 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
